include views/attractions/_list

div.filters
    // TODO - Enable filtering attractions by a given score between 1 to 5
    label Show me things to do that have an average score higher than
    input(data-filter)

// TODO - display list of filtered attractions here
+attractions_list(attractions)